<div class="row">
  <div class="col">
    <div class="card-result" id="card-result-<%= result_station.id %>">
      <div class="card-result-head">
        <div >
          <div class="d-flex justify-content-center">
            <h1> <%= cl_image_tag("https://res.cloudinary.com/deumrs4dd/image/upload/v1615288857/Meetle/#{index+1}.jpg")%> </h1>
          </div>
          <div class="d-flex justify-content-center">
            <h2><%= result_station.station.name.capitalize %></h2>
          </div>
          <%= simple_form_for [result_station.meetle, result_station], remote: true, method: 'patch' do |f| %>
            <button type="submit" class="topright" data-toggle="tooltip" data-placement="top" title="Like this station"><%= icon('fas', 'heart') %> <%= result_station.favoritors.count %></button>
          <% end %>
          <div class="d-flex justify-content-center">
            <% if current_user.locations.find_by(meetle: result_station.meetle) %>
              <% fee = result_station.fares.where(station: current_user.locations.find_by(meetle: result_station.meetle).station) %>
              <p>Fee : <%= fee.first.fee %>¥ </p>
            <% end %>
          </div>
        </div>
      </div>
      <div class="card-border-results">
        <% ResultStation.fetch_activity(result_station.station, result_station.meetle.activity).each do |place| %>
          <% next if place.nil? %>
          <div class="card-result-infos text-align-center">
            <div class= "col-5 card-picture-container">
              <%= image_tag place.last[:photo_url], :class => "card-picture" %>
            </div>
            <div class= "col-7">
              <div class ="d-flex-justify-content-center">
                <p><a href= "https://www.google.com/maps/search/?api=1&query=<%= place.first %>, <%= result_station.station.name %>" class="link"><%= place.first.truncate(25) %></a></p>
                <% rating = place.last[:rating] %>
                <p> <%= icon('fas','star') * rating.to_i %><%= icon('fas', 'star-half') if rating-rating.to_i > 0.5 && rating-rating.to_i < 0.9 %></p>
                <p> <% place.last[:pricing].to_i.times do  %>
                    <span class="jpic jpic-kaikei"></span>
                  <% end %> </p>
              </div>
            </div>
          </div>
        <% end %>
      </div>
    </div>
  </div>
</div>
