<div class="row">
  <div class="col">
    <div class="card-result">
      <div class="card-result-head">
        <div>
          <h2><%= result_station.station.name.capitalize %></h2>
          <p>Duration: xx mins - price ¥5,000</p>
          <%= simple_form_for [@meetle, result_station], remote: true, method: 'patch' do |f| %>
            <% if result_station.favorited_by?(current_user) %>
              <button type="submit" class="topright" value='<%= false %>' name='voted'><i class="fas fa-heart"></i> <%= result_station.favoritors.count %></button>
            <% else %>
              <button type="submit" class='topright' value='<%= true %>' name='voted'><i class="far fa-heart"></i> <%= result_station.favoritors.count %></button>
            <% end %>
          <% end %>
          <% fee = result_station.fares.where(station: current_user.locations.find_by(meetle: @meetle).station) %>
          <p>Fee : <%= fee.first.fee %>¥ </p>
        </div>
      </div>
      <div class="card-spacing">
      </div>
      <div class="card-border">
        <ul class="list-group list-group-flush">
          <% ResultStation.fetch_activity(result_station.station, @meetle.activity).each do |name, rating| %>
            <li class="list-group-item card-result-infos">
              <div>
                <img class="align-self-start mr-3" src="https://raw.githubusercontent.com/lewagon/fullstack-images/master/uikit/skateboard.jpg" />
              </div>
              <div>
                <p><%= name %></p>
                <p><a  href= "https://www.google.com/maps/search/?api=1&query=<%= name %>, <%= result_station.station.name %>"> Check it out</a>  </p>
                <p>Rating: <%= rating %> /5</p>
              </div>
            </li>
          <% end %>
        </ul>
      </div>
    </div>
  </div>
</div>
