<div class="row">
  <div class="col">
    <div class="card-result">
      <div class="card-result-head">
        <div>
          <h2><%= result_station.station.name.capitalize %></h2>
          <% fee = result_station.fares.where(station: current_user.locations.find_by(meetle: @meetle).station) %>
          <p>Fee : <%= fee.first.fee %>¥ </p>
          <i class="topright fas fa-heart"></i>
        </div>
      </div>
      <div class="card-spacing">
      </div>
      <div class="card-border">
        <ul class="list-group list-group-flush">
          <% ResultStation.fetch_activity(result_station.station, @meetle.activity).each do |place| %>
            <li class="list-group-item card-result-infos">
              <div>
                <img class="align-self-start mr-3" src="https://raw.githubusercontent.com/lewagon/fullstack-images/master/uikit/skateboard.jpg" />
              </div>
              <div>
                <p><a  href= "https://www.google.com/maps/search/?api=1&query=<%= place.first %>, <%= result_station.station.name %>"><%= place.first %></a></p>
                <p> <% place.last[:rating].to_i.times do  %>
                    <i class="fas fa-star"></i>
                  <% end %>
                  <%if  place.last[:rating] > 0.5 && place.last[:rating] < 0.9%>
                    <i class="fas fa-star-half"></i>
                  <%end %>
                  <%if  place.last[:rating] > 1.5 && place.last[:rating] < 1.9%>
                    <i class="fas fa-star-half"></i>
                  <%end %>
                  <%if  place.last[:rating] > 2.5 && place.last[:rating] < 2.9%>
                    <i class="fas fa-star-half"></i>
                  <%end %>
                  <%if  place.last[:rating] > 3.5 && place.last[:rating] < 3.9%>
                    <i class="fas fa-star-half"></i>
                  <%end %>
                  <%if  place.last[:rating] > 4.5 && place.last[:rating] < 4.9%>
                    <i class="fas fa-star-half"></i>
                  <%end %>
                </p>
                <p> <% place.last[:pricing].to_i.times do  %>
                    <span class="jpic jpic-kaikei"></span>
                  <% end %> </p>
              </div>
            </li>
          <% end %>
        </ul>
      </div>
    </div>
  </div>
</div>