<div class="row">
  <div class="col">
    <div class="card-result">
      <div class="card-result-head">
        <div>
          <h2><%= result_station.station.name.capitalize %></h2>
          <% fee = result_station.fares.where(station: current_user.locations.find_by(meetle: @meetle).station) %>
          <p>Fee : <%= fee.first.fee %>¥ </p>
          <i class="topright fas fa-heart"></i>
        </div>
      </div>
      <div class="card-spacing">
      </div>
      <div class="card-border">
        <ul class="list-group list-group-flush">
          <% ResultStation.fetch_activity(result_station.station, @meetle.activity).each do |name, rating| %>
            <li class="list-group-item card-result-infos">
              <div>
                <img class="align-self-start mr-3" src="https://raw.githubusercontent.com/lewagon/fullstack-images/master/uikit/skateboard.jpg" />
              </div>
              <div>
                <p><%= name %></p>
                <p><a  href= "https://www.google.com/maps/search/?api=1&query=<%= name %>"> Check it out</a>  </p>
                <p>Rating: <%= rating %> /5</p>
              </div>
            </li>
          <% end %>
        </ul>
      </div>
    </div>
  </div>
</div>