<div class="row">
  <div class="col">
    <div class="card-result" id="card-result-<%= result_station.id %>">
      <div class="card-result-head">
        <div class="float-icon">
          <%= cl_image_tag("https://res.cloudinary.com/deumrs4dd/image/upload/v1615288857/Meetle/#{index+1}.jpg")%>
        </div>
        <div >
          <div class="d-flex justify-content-center">
            <h2><%= result_station.station.name.capitalize %></h2>
          </div>
          <%= simple_form_for [result_station.meetle, result_station], remote: true, method: 'patch' do |f| %>
            <button type="submit" class="topright" data-toggle="tooltip" data-placement="top" title="Like this station"><%= icon('fas', 'heart') %> <%= result_station.favoritors.count %></button>
          <% end %>
          <div class="d-flex justify-content-center">
            <% if current_user.locations.find_by(meetle: result_station.meetle) %>
              <% fee = result_station.fares.where(station: current_user.locations.find_by(meetle: result_station.meetle).station) %>
              <p>Fee : <%= fee.first.fee %>¥ </p>
            <% end %>
          </div>
        </div>
      </div>
      <div class="card-border-results">
        <% ResultStation.fetch_activity(result_station.station, result_station.meetle.activity).each do |place| %>
          <div class="card-result-infos text-align-center">
            <div class= "col-5 card-picture-container">
              <% if place.last[:photo_url].nil? %>
                <%= image_tag "No_Pic_Default.jpg" , :class => "card-picture" %>
              <% else %>
                <%= image_tag place.last[:photo_url] , :class => "card-picture" %>
              <% end %>
            </div>
            <div class= "col-7">
              <div class ="d-flex-justify-content-center">
                <p><%= link_to place.first.truncate(25) , "https://www.google.com/maps/dir/?api=1&destination=#{place.last[:geoloc]["lat"]},#{place.last[:geoloc]["lng"]}&origin=#{current_user.locations.find_by(meetle: @meetle).station.latitude},#{current_user.locations.find_by(meetle: @meetle).station.longitude}" ,class: "link" , target: :_blank %></p>
                <% rating = place.last[:rating] %>
                <p> <%= icon('fas','star') * rating.to_i %><%= icon('fas', 'star-half') if rating-rating.to_i > 0.5 && rating-rating.to_i < 0.9 %></p>
                <p> <% place.last[:pricing].to_i.times do  %>
                    <span class="jpic jpic-kaikei"></span>
                  <% end %> </p>
              </div>
            </div>
          </div>
        <% end %>
      </div>
    </div>
  </div>
</div>
