<div class="container">
  <div class="justify-content-center mt-5 mb-5">
    <div class="d-flex h-100 text-center">
      <div class="mx-auto">
        <div class="row">
          <h1 class="title col">meetle.</h1>
          <%= image_tag("question.jpg", :size => "116x175", class:"col-md-auto p-0") %>
        </div>
        <div class="title">
          <p>meet in the middle for...</p>
          <div class="row justify-content-center">
            <% Meetle::ACTIVITY.each do |act| %>
              <div class="col-sm btn m-0 h">
                <%= simple_form_for @meetle, method: :post do |f| %>
                  <%= f.input :activity, input_html: {value: act}, as: 'hidden'  %>
                  <button class="btn btn-orange" type="submit"><%= act %> </button>
                </div>
              <% end %>
            <% end %>
            <!--  <input type="text" placeholder="Search...">
          <div class="search"></div> -->
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="card-spacing"></div>
  <div class="row mt-5">
    <div class="col-lg-4">
      <%= image_tag("meetle_bold-2.png", :size => "140x140", class:"rounded-circle mx-auto d-block") %>
      <h2 class="text-center mt-3">Simple</h2>
      <p class="text-center">Choose what you want to do and just add your station.</p>
    </div>
    <div class="col-lg-4">
      <%= image_tag("meetle_abstract.png", :size => "140x140", class:"rounded-circle mx-auto d-block") %>
      <h2 class="text-center mt-3">Shareable</h2>
      <p class="text-center">Easily share with your friends. Let them know your preferences through upvotes.</p>
    </div>
    <div class="col-lg-4">
      <%= image_tag("meetle-2.png", :size => "140x140", class:"rounded-circle mx-auto d-block") %>
      <h2 class="text-center mt-3">Seamless</h2>
      <p class="text-center">Updates occur instantly as you add friends and update your plans.</div>
    </div>
    <hr class="featurette-divider mt-5">
    <div class="row align-items-center">
      <div class="col-md-6" >
        <h2 class="text-center">Whether it's dinner or just a coffee, organise plans in minutes.</h2>
      </div>
      <div class="col-md-5" >
        <%= image_tag("coffee.jpg", :size => "300x300", class:"featurette-image img-fluid mx-auto d-block") %>
      </div>
    </div>
    <hr class="featurette-divider mt-5">
    <div class="row align-items-center">
      <div class="col-md-5 h-300 mx-auto" >
        <%= image_tag("fruit.jpg", :size => "300x300", class:"featurette-image img-fluid mx-auto d-block") %>
      </div>
      <div class="col-md-6" >
        <h2 class="text-center">Discover new places, make new memories.</h2>
        <div class="row display-flex justify-content-center">
          <button class="btn btn-orange m-3" type="submit">Sign Up </button>
          <button class="btn btn-orange m-3" type="submit">Log In</button>
        </div>
      </div>
      <hr class="featurette-divider mt-5">
    </div>