<h1>Pages#home</h1>
<%= simple_form_for @meetle, method: :patch do |f| %>
  <%= f.input :stations, collection: Station.all.order(:name), placeholder: @user.locations   %>
  <%= f.button :submit %>
<% end %>
<h2> <%  @meetle.locations.each do |location| %>
    <h2>  <%= location.user.email %>'s location: <%= location.station.name %></h2>
    <!-- <h2> Your station is  %=  Location.where(user: current_user).station.name %></h2>
         -->
  <% end %>