<div class="justify-content-center mt-5 mb-5">
  <div class="d-flex text-center">
    <div class="mx-auto">
      <div class="row">
        <h1 class="title col">meetle.</h1>
        <%= image_tag("question.jpg", :size => "116x175", class:"col-md-auto p-0") %>
      </div>
      <div class="title">
        <p>meet in the middle for...</p>
        <div class="row justify-content-center">
          <% Meetle::ACTIVITY.each do |act| %>
            <div class="col-sm btn m-0 h">
              <%= simple_form_for @meetle do |f| %>
                <%= f.input :activity, input_html: {value: act}, as: 'hidden'  %>
                <button class="btn btn-orange" type="submit"><%= act %> </button>
              </div>
            <% end %>
          <% end %>
        </div>
      </div>
      <div class="row mt-5">
        <div class="col">
          <%= simple_form_for @meetle, remote: true, method: :patch do |f| %>
            <%= f.input :stations, collection: Station.all.order(:name), label: "Add your station", input_html: { class: 'select2' }, wrapper_html: { class: "center_form" } %>
            <%= f.button :submit, class: 'btn btn-orange', id: "update-meetle", data_action: 'click->location#refresh' %>
          <% end %>
          <%= render "partials/location" %>
        </div>
        <div id="loading" class="spinner-border d-none" role="status">
          <span class="sr-only">Loading...</span>
        </div>
      </div>
      <%= render "partials/sharelink" %>
    </div>
  </div>
</div>
<%= render "partials/map" %>
<div class="row justify-content-center" id="resultcontainer">
  <%= render "partials/resultcontainer", meetle: @meetle %>
</div>
<div class="ml-2 fixed-bottom">
  <a href="https://social-plugins.line.me/lineit/share?url=<%= request.original_url %>" class="fab fa-line fa-w-14 fa-2x" id="share" ></a>
  <a href="https://www.facebook.com/sharer.php?u=<%= request.original_url %>" class="fab fa-facebook-square fa-w-14 fa-2x" id="share"></a>
  <a href="https://twitter.com/intent/tweet?url=<%= request.original_url %>" class="fab fa-twitter-square fa-w-14 fa-2x" id="share"></a>
</div>
<a href="#resultscards" style="display: none;" id="scrollanchor"></a>