<div class="justify-content-center mt-5 mb-5">
  <div class="d-flex text-center">
    <div class="mx-auto">
      <div class="row">
        <h1 class="title col">meetle.</h1>
        <%= image_tag("question.jpg", :size => "116x175", class:"col-md-auto p-0") %>
      </div>
      <div class="title">
        <p>meet in the middle for...</p>
        <div class="btn">
          <!--     <% Meetle::ACTIVITY.each do |activity| %>
            <p class="col" > <%= link_to activity, meetle_path(@meetle), method: :patch%> </p>
          <% end %> -->
          <%= simple_form_for @meetle, method: :patch do |f| %>
            <% Meetle::ACTIVITY.each do |activity| %>
              <button type="submit" class='col' value= "<%= activity %>" name='activity'><%=  activity %> </button>
            <% end %>
          <% end %>
        </div>
      </div>
      <div class="row" >
        <div class="col">
          <h1>Pages#home</h1>
          <%= simple_form_for @meetle, remote: true, method: :patch do |f| %>
            <%= f.input :stations, collection: Station.all.order(:name), placeholder: @current_station   %>
            <%= f.input :activity, collection: Meetle::ACTIVITY, placeholder: @meetle.activity  %>
            <%= f.button :submit %>
          <% end %>
          <h2> <%  @meetle.locations.each do |location| %></h2>
            <h2>  <%= location.user.email %>'s location: <%= location.station.name %></h2>
          <% end %>
          <h2>Meeting for <%= @meetle.activity %> </h2>
          <button type="button" class="btn btn-orange" data-toggle="modal" data-target="#exampleModal">
            Share your meetle
          </button>
          <%= render "partials/sharelink" %>
        </div>
      </div>
    </div>
    <% if @meetle.stations.count > 1 %>
      <div class="row mt-5">
        <% 3.times do %>
          <div class="col-auto">
            <%= render "partials/resultcard" %>
          </div>
        <% end %>
      </div>
    <% end %>
  </div>
</div>
</div>
</div>
</div>