<h1>Pages#home</h1>
<%= simple_form_for @meetle, remote: true, method: :patch do |f| %>
  <%= f.input :stations, collection: Station.all.order(:name), placeholder: @current_location   %>
  <%= f.input :activity, collection: ['food', 'drink', 'sport', 'fun'], placeholder: @meetle.activity  %>
  <%= f.button :submit %>
<% end %>
<h2> <%  @meetle.locations.each do |location| %>
    <h2>  <%= location.user.email %>'s location: <%= location.station.name %></h2>
    <!-- <h2> Your station is  %=  Location.where(user: current_user).station.name %></h2>
         -->
  <% end %>
  <h2>Meeting for <%= @meetle.activity %> </h2>
  <%= if @meetle.count(stations) > 2 %>
    <h2>show results here</h2>
  <%= end %>